:root{
    --main-bg-color: #023e8a;
    --main-text-color:#03045e;
    --second-text-color:#90e0ef;
    --second-bg-color:#0077b6;

}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}
.rounded-full {
    border-radius: 100%;
}
/* colocando cor de fundo no conteudo */
#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
        to top,
        #ade8f4,
        #90e0ef,
        #48cae4,
        #00b4d8,
        #0096c7
    );
}
/* efeito para a sidebar sumir quando for aplicado js */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}
/* sidebar */
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
/* id na section de sidebar */
#sidebar-wrapper .list-group {
    width: 15rem;
}

/* alinhamento do menu */
#page-content-wrapper {
    min-width: 100vw;
  }
  /*id colocada na parte do #wrapper  */
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
/* efeito de cursor quando passar o mouse encima do botão toggle */
#menu-toggle {
    cursor: pointer;
}
/* afastando as listas */
.list-group-item {
    border: none;
    padding: 20px 30px;
}
/* colocando cor na lista com classe active */
.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

/* responsividade e alinhamento do menu */
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


