*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-height: 100vh;
    background-color: blanchedalmond;
}
.sidebar-lateral {
    height: 90vh;
    background-color: black;
    width: 10%;
}
.container {
    width: 90%;
    
}
footer{
    background-color: #ccc;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:320px) {
    .sidebar-lateral {
        height: 90vh;
        background-color: black;
        width: 22%;
        font-size: 12px;
    }
}

@media(max-width:375px) {
    .sidebar-lateral {
        height: 90vh;
        background-color: black;
        width: 22%;
        font-size: 12px;
    }
}

@media(max-width:425px) {
    .sidebar-lateral {
        height: 90vh;
        background-color: black;
        width: 22%;
        font-size: 12px;
    }
}

@media(max-width:768px) {
    .sidebar-lateral {
        height: 90vh;
        background-color: black;
        width: 22%;
       
    }
}