body{
    background-color: #ccc;
}

.col-md-1 {
    border: 1px solid blue;
}
.col-md-8 {
    border: 1px solid blue;
}
.col-md-4 {
    border: 1px solid blue;
}
.col-md-6 {
    border: 1px solid blue;
}